body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/free-vector/digital-rupee-background-with-binary-number-codes_1017-36444.jpg?t=st=1718788000~exp=1718791600~hmac=bc6150390c55b24c911c52c9865d9eec9ddd9484c97eb35156bcd10cb4dce84a&w=996);
}

.converter {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #5f15c7;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input{
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}
